<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Log in to your account
      </h2>
    </div>
    <%= form_with(url: login_path, local: true, class: "mt-8 space-y-6") do |f| %>
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Email address" %>
        </div>
        <div>
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Password" %>
        </div>
      </div>

     <div>
  <%= f.submit "Log in", style: "width: 100%; padding: 10px; background-color: #4F46E5; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;" %>
</div>
    <% end %>
  </div>
</div>