<h2>Sign Up</h2>

<%= form_with(model: @account, url: sign_up_path, local: true) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% @account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :displayName %>
    <%= f.text_field :displayName %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.label :role %>
    <%= f.select :role, options_for_select([['Buyer', 'buyer'], ['Seller', 'seller']]) %>
  </div>

  <div>
    <%= f.submit "Sign Up" %>
  </div>
<% end %>